---
import Layout from "../layouts/PageLayout.astro";
---

<Layout>
  <main id="about">
    <div class="min-h-screen pt-24 px-10">
      <h1 class="text-gray-100 font-bold text-xl">About</h1>
      <p class="text-gray-100">I am a passionate Software Developer</p>
    </div>
  </main>
</Layout>
