---
import { Image } from "astro:assets";

import Layout from "../layouts/PageLayout.astro";
import BlogList from "../components/BlogList";

import headerImage from "../assets/blog-header.png";
---

<Layout>
  <main id="blog-page" class="h-screen">
    <header class="h-2/5">
      <div id="spacer" class=""></div>
      <div class="w-full h-full relative">
        <div id="top" class="w-full h-1/2"></div>
        <div
          id="overlay"
          class="w-full h-1/2 absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 flex justify-center items-center"
        >
          <div id="overlay-content" class="w-10/12 h-5/6 max-w-96 rounded">
            <Image
              src={headerImage}
              alt="blog header"
              class="max-h-full max-w-full rounded object-cover"
            />
          </div>
        </div>
        <div id="bottom" class="w-full h-1/2 bg-white"></div>
      </div>
    </header>
    <div class="h-3/5">
      <section id="blog-list" class="min-h-full h-auto bg-white">
        <BlogList />
      </section>
    </div>
  </main>
</Layout>
