---
import Layout from "../layouts/PageLayout.astro";
---

<Layout>
  <section id="work">
    <div class="min-h-screen pt-24 px-10">
      <h1 class="text-gray-100 font-bold text-xl">Work</h1>
    </div>
  </section>
</Layout>
